/*
We want to do as little as possible here so CSS can be defined in theme.
*/

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.mbo-table {
  margin: 1em 0;
  font-size: 16px;
  /* min-width: 300px; */
}
.mbo-table th {
  display: none;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.mbo-table tr {
  background: white;
  display: block;
  border-radius: 3px;
  margin-bottom: 1.5em;
  transition: background .3s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}
.mbo-table tr:hover {
  background: #fefefe;
}
.mbo-table td {
  display: block;
}

.mbo-table th,
.mbo-table td {
  text-align: left;
}
.mbo-table td:first-child {
  padding-top: .5em;
}
.mbo-table td:last-child {
  padding-bottom: .5em;
}
.mbo-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .mbo-table {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .mbo-table tr {
    display: table-row;
  }
  .mbo-table td:before {
    display: none;
  }
}
@media (min-width: 480px) {
  .mbo-table th,
  .mbo-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .mbo-table th:first-child,
  .mbo-table td:first-child {
    padding-left: 0;
  }
  .mbo-table th:last-child,
  .mbo-table td:last-child {
    padding-right: 0;
  }
}

.mbo-table {
  color: #555;
  overflow: hidden;
}
.mbo-table tr {
  border-color: #ddd;
}
.mbo-table th,
.mbo-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .mbo-table th,
  .mbo-table td {
    padding: 1em !important;
  }
}
.mbo-table th,
.mbo-table td:before {
  color: #333;
}

.mbo-table td a {
  color: #555;
  text-decoration: none;
}

/* #mbo-schedule .mbo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mbo-schedule .mbo-list-item {
  padding: .8em 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  transition: background .25s ease-in-out;
}

#mbo-schedule .mbo-list-item:hover {
  background: rgba(0,0,0,.02);
}

#mbo-schedule .mbo-list-item > div {
  width: 50%;
  float: left;
}

#mbo-schedule .mbo-list-item .class-title {
  margin-bottom: .5em;
  line-height: 1.2;
}

#mbo-schedule .mbo-list-item .class-teacher {
  margin-bottom: 0;
  line-height: 1.2;
  color: rgba(0,0,0,.7);
}

#mbo-schedule .mbo-list-item > .class-time {
  float: right;
  text-align: right;
}

#mbo-schedule .mbo-list-item h1,
#mbo-schedule .mbo-list-item h2,
#mbo-schedule .mbo-list-item h3,
#mbo-schedule .mbo-list-item h4,
#mbo-schedule .mbo-list-item h5,
#mbo-schedule .mbo-list-item h6 {
  margin-top: 0;
}



.mbo-table {
  font-size: 1em;
  max-width: 100%;
  width: 100%;
}

.mbo-table th:first-child {
  border-radius: 3px 0 0 0;
}

.mbo-table th:nth-child(4) {
  border-radius: 0 3px 0 0;
}

.mbo-table th {
  background-color: rgba(23, 51, 85, .8);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: .7em;
}

.mbo-table tr td {
  padding: .5em;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

.mbo-table .mbo-table-head + tr td {
  border-bottom: none;
}

.mbo-table tr:nth-child(2n) {
  background-color: rgba(23, 61, 80, 0.1);
}

.mbo-table tr:nth-child(2n+1) {
  background-color: rgba(33, 71, 90, 0.02);
} */
