/*
We want to do as little as possible here so CSS can be defined in theme.
*/

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}



#mbo-schedule .mbo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mbo-schedule .mbo-list-item {
  padding: .8em 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

#mbo-schedule .mbo-list-item > div {
  width: 50%;
  float: left;
}

#mbo-schedule .mbo-list-item .class-title {
  margin-bottom: .5em;
  line-height: 1.2;
}

#mbo-schedule .mbo-list-item .class-teacher {
  margin-bottom: 0;
  line-height: 1.2;
  color: rgba(0,0,0,.7);
}

#mbo-schedule .mbo-list-item > .class-time {
  float: right;
  text-align: right;
}

#mbo-schedule .mbo-list-item h1,
#mbo-schedule .mbo-list-item h2,
#mbo-schedule .mbo-list-item h3,
#mbo-schedule .mbo-list-item h4,
#mbo-schedule .mbo-list-item h5,
#mbo-schedule .mbo-list-item h6 {
  margin-top: 0;
}



.mbo-table {
  font-size: 1em;
  max-width: 100%;
  width: 100%;
}

.mbo-table th:first-child {
  border-radius: 3px 0 0 0;
}

.mbo-table th:nth-child(4) {
  border-radius: 0 3px 0 0;
}

.mbo-table th {
  background-color: rgba(23, 51, 85, .8);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: .7em;
}

.mbo-table tr td {
  padding: .5em;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

.mbo-table .mbo-table-head + tr td {
  border-bottom: none;
}

.mbo-table tr:nth-child(2n) {
  background-color: rgba(23, 61, 80, 0.1);
}

.mbo-table tr:nth-child(2n+1) {
  background-color: rgba(33, 71, 90, 0.02);
}
